@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap');

:root{
    --colorvinho: #3D0207;
    --colorvermelho: #A30F1D;
    --colorpretovinho: #0F0107;
    --colorbrancocinema: #F3EADD;
    --colordourado_branco: #DAC9A7;

    --fontpoiret: 'Poiret One';
    --fontread: 'Overpass Mono';
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media only screen and (max-width:555px) {
    nav a{
        margin-left: 10px;
        font-size: 9px;
    }
}
@media only screen and (min-width:650px) {
    nav{
        text-align: center;
    }
    h1{
        font-size: 3em;
    }
    nav{
        padding: 10px;
    }
}
.resetlink{
    text-decoration: none;
    color: var(--colorbrancocinema);

}
body{
    background-color: #080808;
}
header{
    background-color: #080808;
    max-width: 100%;
    height: 300px;
    text-align: center;
    color: var(--colorbrancocinema);
}
header h1{
    padding-top: 100px;
   
    font-family: var(--fontpoiret);
}
.title-a{
    color: var(--colorvermelho);
    font-size: 1.5em;
}
.title-b{
    color: teal;
    font-size: 1.5em;
}
.a{
    color: var(--colorvermelho);
    font-size: 1.5em;
}
.b{
    color: teal;
    font-size: 1.5em;
}
header p {
    
    font-family: var(--fontread);
    font-variant: small-caps;
    font-size: 12px;
    letter-spacing: 2px;
}
nav{
   
    background-image: linear-gradient(to bottom, #080808);
    padding: 20px;
    
}
nav a{
    font-variant: small-caps;
    text-decoration: none;
    color: var(--colorbrancocinema);
    font-family: var(--fontread);
    margin-left: 20px;
    
}
nav a:hover{
    transition: 0.5s;
    background-color: #0f0f0f;
    padding: 10px;
}

main{
    max-width: 800px;
    margin: auto;
    height: 120vh;
    background-color: #0f0f0f;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--colorbrancocinema);
}
article h3{
    font-family: var(--fontpoiret);
    padding-top: 10px;
}

h2{
    font-family: var(--fontpoiret);
    font-size: 1.35em;
    padding-bottom: 2px;
    letter-spacing: 8px;
}
h2::after{
    content: url(/arte-pajucara-projeto/popcorn-box.png);
    filter: invert(100%);
}

article p{
    font-size: 14px;
    text-align: justify;
    text-indent: 20px;
    line-height: 18px;
    padding-left: 10px; padding-right: 10px; padding-top: 10px;
}

footer{
    background-color: #080808;
    padding: 40px;
    color: var(--colorbrancocinema);


}
footer p{
    text-align: center;
    font-family: var(--fontread);
    font-variant: small-caps;
    font-size: 16px;
    letter-spacing: 1px;
}
footer em{
    color: var(--colordourado_branco);
}
footer address{
    text-align: center;
    padding-top: 15px;
    font-family: var(--fontread);
    font-variant: small-caps;
    font-size: 10px;
    letter-spacing: 2px;
}